*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
body{
  background-color: lightblue;
  overflow: hidden;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 600px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #000;
}
.container nav{
  position: absolute;
  left: 35px;
  top: 90px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 5;
}
nav p{
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  letter-spacing: 2px; 
  width: 80%;
}
nav .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.links a{
  color: lightblue;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
}

.slide{
  width: max-content;
  margin-top: 50px;
}

.item{
  width: 200px;
  height: 100px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 70%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #000;
}
.item:nth-child(1),
.item:nth-child(2){
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  border-radius: 0;
  height: 100%;
  box-shadow: none;
}
.item:nth-child(3){
  left: 50%;
}
.item:nth-child(4){
  left: calc(50% + 220px);
}
.item:nth-child(5){
  left: calc(50% + 440px);
}
.item:nth-child(6){
  left: calc(50% + 660px);
}
.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #0008ff;
  transform: translate(0, -50%);
  display: none;
}
.item:nth-child(2) .content{
  display: block;
  z-index: 11111;
}
.item .description{
  margin: 20px 0;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  text-shadow: 0 0 10px #000;
  line-height: 1.5;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item .name:nth-child(1){
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0 0 30px #000;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.item .name:nth-child(2){
  font-size: 80px;
  font-weight: bold;
  opacity: 0;
  color: lightblue;
  text-shadow: 0 0 30px #000;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.item .name:nth-child(3){
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  color: #fff;
  text-shadow: 0 0 30px #000;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item button{
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  color: #4c4c4c;
  font-weight: bold;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 10px #000;
  animation: showcontent 1s ease-in-out 0.0s 1 forwards;
}

@keyframes showcontent{
  from{
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to{
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.button{
  position: absolute;
  bottom: 70px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}
.button button{
  font-weight: bolder;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: lightblue;
  font-size: 30px;
  background-color: #4c4c4c;
  cursor: pointer;
  transition: 0.5s;
}
.button button:hover{
  background-color: #323232;
}
